name: Android build

on:
  push:
    branches:
      - web_android

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      # 添加Node.js依赖缓存
      # - name: Cache node_modules
      #   uses: actions/cache@v4
      #   with:
      #     path: |
      #       node_modules
      #       ~/.npm
      #     key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      #     restore-keys: |
      #       ${{ runner.os }}-node-
      
      # Step 1: Setup Java and Android SDK
      - name: Set up JDK 21 for Android SDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Install Android SDK Command-line Tools
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: '9477386'
      
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches/modules-2
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Build web app before sync
        run: npm run build
      - name: Sync Capacitor with Android
        run: npx cap sync android
      - name: Build Android APK
        run: |
          cd android
          chmod +x ./gradlew
          export JAVA_HOME=${JAVA_HOME}
          export PATH=${JAVA_HOME}/bin:${PATH}
          ./gradlew assembleDebug \
            --stacktrace
      - name: Create release directory
        run: mkdir -p dist/release
      - name: Copy APK to dist directory
        run: cp android/app/build/outputs/apk/debug/app-debug.apk dist/release/app-release.apk
      - name: Upload Android APK
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: android/app/build/outputs/apk/debug/app-debug.apk
      - name: Upload web build from Android job
        uses: actions/upload-artifact@v4
        with:
          name: web-build-android
          path: dist
  
  android-deploy-page:
    needs: build-android
    runs-on: ubuntu-latest
    steps:
      - name: Download web build
        uses: actions/download-artifact@v4
        with:
          name: web-build-android
          path: .
      
      - name: Setup Pages
        uses: actions/configure-pages@v5
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4